@theme {
  --color-background: var(--background);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-copy-primary: var(--copy-primary);
  --color-copy-secondary: var(--copy-secondary);
  --color-cta: var(--cta);
  --color-cta-active: var(--cta-active);
  --color-cta-text: var(--cta-text);
}

:root,
.light {
  --background: #f5f5f5;
  --border: #d4d4d4;
  --card: #ffffff;

  --copy-primary: #171717;
  --copy-secondary: #737373;

  --cta: #8b5cf6;
  --cta-active: #7c3aed;
  --cta-text: #ffffff;
}

.dark {
  --background: #000000;
  --border: #262626;
  --card: #171717;

  --copy-primary: #fafafa;
  --copy-secondary: #737373;

  --cta: #6366f1;
  --cta-active: #4f46e5;
  --cta-text: #ffffff;
}

@layer components {
  .link {
    @apply hover:underline hover:underline-offset-4;
  }

  .btn {
    @apply bg-cta hover:bg-cta-active text-cta-text text-xl px-4 py-2 rounded-md;
  }

  .btn-sm {
    @apply p-2 py-1 text-lg;
  }

  .btn-lg {
    @apply p-8 py-4 text-2xl;
  }

  .card {
    @apply rounded-[var(--radius-md)] shadow p-4;
    background-color: rgb(var(--color-bg));
    color: rgb(var(--color-fg));
  }
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
}
